// Font.
$font: (
  primary: ("Roboto", sans-serif),
  secondary: ("PT Serif", serif)
);

// Palette.
$palette: (
  primary:       #536171,
  secondary:     #fff,
  meta:          #fff,
  border:        lighten(#536171, 52%),
  bg:            lighten(#536171, 58%),
  accent:        #b2a899,
  accent-blue:   #108afb,
  accent-black:  #333b45,
  accent-red:    #f8646c
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/intro";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";
